<!DOCTYPE html>
<html>
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/fc-3.2.2/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.css" />
<style>
.add_form.modal p { padding: 20px 30px; border-bottom: 1px solid #ddd; margin: 0;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #fff));
  overflow: hidden;
}
.add_form.modal p:last-child { border: none; }
.add_form.modal p label { float: left; font-weight: bold; color: #333; font-size: 13px; width: 110px; line-height: 22px; }
.add_form.modal p input[type="text"],
.add_form.modal p input[type="submit"]		{
  font: normal 12px/18px "Lucida Grande", Verdana;
  padding: 3px;
  border: 1px solid #ddd;
  width: 200px;
}

#msg {
  margin: 10px;
  padding: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: -moz-linear-gradient(top, #2e5764, #1e3d47);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e3d47),color-stop(1, #2e5764));
}

h1 {
    padding: 5px;
    margin: 2% 0;
    text-align: center;
    color: #0099ff;

}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

</style>
</head>
<body>
<h1 style="color: #2e5764;">Library Management System</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">User</a><span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ticket">Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Report</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<p><a class='btn' href="#add" rel="modal:open">+ Add New User</a></p>

<table id="tbUser" class="table table-striped stripe row-border order-column" cellspacing="3" width="100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<form id="add" action="#"  method="post" class="add_form modal" style="display:none;">
    <div id='msg'>
        <h3>Add a New User</h3>
        <p>
            <label>User</label>
            <input type="text" id="user" name="user">
            <label>Password</label>
            <input type="password" id="password" name="password">
            <label>Full Name</label>
            <input type="text" id="fullName" name="fullName">
            <label>E-mail</label>
            <input type="text" id="email" name="email">
            <label>Phone</label>
            <input type="text" id="phone" name="phone">
            <label>Address</label>
            <input type="text" id="address" name="address">
        </p>
        <p>
            <input type="submit" id="addNewUser" value="Submit">
        </p>
    </div>
</form>

<script>
    $(document).ready(function() {
    $.getJSON('/user/users', function(json) {
        var tr=[];
        for (var i = 0; i < json.length; i++) {
            tr.push('<tr>');
            tr.push('<td>' + json[i].id + '</td>');
            tr.push('<td>' + json[i].user + '</td>');
            tr.push('<td>' + json[i].fullName + '</td>');
            tr.push('<td>' + json[i].email + '</td>');
            tr.push('<td>' + json[i].phone + '</td>');
            tr.push('<td>' + json[i].address + '</td>');
            tr.push('<td><button class=\'details\'>Details</button>&nbsp;&nbsp;<button class=\'edit\'>Edit</button>&nbsp;&nbsp;<button class=\'delete\' id=' + json[i].id + '>Delete</button></td>');
            tr.push('</tr>');
        }
        $('#tbody').append($(tr.join('')));
        var table = $('#tbUser').DataTable( {
        });  
    });
    
    $(document).delegate('#addNewUser', 'click', function(event) {
        event.preventDefault();
        $.ajax({
            url: "/user/signup",
            type: "POST",
            data: { user: $('#user').val(),  
                    password: $('#password').val(),
                    fullName: $('#fullName').val(),
                    email: $('#email').val(),
                    phone: $('#phone').val(),
                    address: $('#address').val(),
                    role:'USER'
            },
            datatype: "json",
            success: function(result) {
                $("#msg").html( "<span style='color: green'>User added successfully</span>" );
                window.setTimeout(function(){location.reload()},1000)
            },
            error: function(err) {
                $("#msg").html( "<span style='color: red'>Error</span>" );
            }
        });
    });

    $(document).delegate('.delete', 'click', function() {
        if (confirm('Do you really want to delete record?')) {
            var id = $(this).attr('id');
            var parent = $(this).parent().parent();
            $.ajax({
                type: "GET",
                url: "/user/delete/" + id,
                cache: false,
                success: function() {
                    parent.fadeOut('slow', function() {
                        $(this).remove();
                    });
                    location.reload(true)
                },
                error: function() {
                    $('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error deleting record').fadeIn().fadeOut(4000, function() {
                        $(this).remove();
                    });
                }
            });
        }
    });
    
    $(document).delegate('.edit', 'click', function() {
        var parent = $(this).parent().parent();

        var id = parent.children("td:nth-child(1)");
        var user = parent.children("td:nth-child(2)");
        var fullName = parent.children("td:nth-child(3)");
        var email = parent.children("td:nth-child(4)");
        var phone = parent.children("td:nth-child(5)");
        var address = parent.children("td:nth-child(6)");

        var buttons = parent.children("td:nth-child(7)");

        user.html("<input type='text' id='txtUser' value='" + user.html() + "'/>");
        fullName.html("<input type='text' id='txtfullName' value='" + fullName.html() + "'/>");
        email.html("<input type='text' id='txtEmail' value='" + email.html() + "'/>");
        phone.html("<input type='text' id='txtPhone' value='" + phone.html() + "'/>");
        address.html("<input type='text' id='txtAddress' value='" + address.html() + "'/>");

        buttons.html("<button id='save'>Save</button>&nbsp;&nbsp;<button class='Cancel' id='cancel'>Cancel</button>");
    });

    $(document).delegate('#cancel', 'click', function() {
        window.setTimeout(function(){location.reload()},1000);
	});

    $(document).delegate('#save', 'click', function() {
        var parent = $(this).parent().parent();

        var id = parent.children("td:nth-child(1)");
        var user = parent.children("td:nth-child(2)");
        var fullName = parent.children("td:nth-child(3)");
        var email = parent.children("td:nth-child(4)");
        var phone = parent.children("td:nth-child(5)");
        var address = parent.children("td:nth-child(6)");

        var buttons = parent.children("td:nth-child(7)");

        $.ajax({
            type: "POST",
            url: "/user/saveUser",
            data: { 
                    id : id.html(), 
                    user : user.children("input[type=text]").val(),
                    fullName: fullName.children("input[type=text]").val(),
                    email: email.children("input[type=text]").val(),
                    phone: phone.children("input[type=text]").val(),
                    address: address.children("input[type=text]").val(),
                            },
            datatype: "json",
            success: function() {
                user.html(user.children("input[type=text]").val());
                fullName.html(fullName.children("input[type=text]").val());
                email.html(email.children("input[type=text]").val());
                phone.html(phone.children("input[type=text]").val());
                address.html(address.children("input[type=text]").val());
                
                buttons.html("<button class=\'details\'>Details</button>&nbsp;&nbsp;<button class='edit' id='" + id.html() + "'>Edit</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
            },
            error: function() {
                $('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error updating record').fadeIn().fadeOut(4000, function() {
                    $(this).remove();
                });
            }
        });
	});
});
</script>
</body>
</html>